*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container{
  background-image: url('https://images.unsplash.com/photo-1621173865296-baaf7dc3afcc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 1px 2px 50px 29px rgba(0,0,0,0.69); 
box-shadow: inset 1px 2px 50px 29px rgba(0,0,0,0.69);
background-position: center;

}

